body{
    background-color: rgba(0, 26, 255, 0.118);
}

.menu{
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: #5f5f5f;
}
.menu_1{
    display: flex;
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: 700;
    height: 30px;
}
.menu_1 div{
    width: 25%;
    margin: auto 0px;
}

.menu_1 div:hover{
    transition: 0.9s;
    background-color: rgb(77, 255, 77);
    color: black;
}
.red_text{
    color: red;
    font-size: 17px;
}
.blue_text{
    color: blue;
    font-size: 17px;
}